.section {
	background: #111;
	color: #ddd;
	float: left;
	width: 100%;
}

.column {
	float: left;
	padding: 0 0 5% 0;
}

.full {
	width: 75%;
	padding-left: 10%;
	padding-right: 10%;
}

.left, .right {
	width: 37.5%;
}

.left {
	padding-left: 10%;
	padding-right: 2.5%;
}

.right {
	padding-right: 10%;
	padding-right: 2.5%;
}

.intro {
	margin-top: 45%;
	padding-top: 5%;
}