span#title {
	font-size: 1em;
	margin: 0;
	text-transform: uppercase;
	width: 35%;
	height: 6em;
	vertical-align: middle;
}

span#title p {
	margin-top: 1.5em;
}

span#title p b {
	display: block;
	font-size: 1.4em;
}

ul.nav {
	float: right;
	width: 65%;
}

ul.nav li {
	display: inline;
	line-height: 6em;
	width: 25%;
	height: 6em;
}

span#title:hover,
span#title.active,
ul.nav li:hover,
ul.nav li.active {
	background: #0d0d0d;
	border-bottom: 3px solid red;
}

span#title, ul.nav li {
	background: #1f1f1f;
	border-bottom: 3px solid #aa0000;
	color: #fff;
	float: left;
	list-style: none;
	text-align: center;
	transition: 0.2s all ease-in;
}

div.gallery .holder {
	float: left;
	width: 33%;
}

div.gallery .holder img {
	float: left;
	width: 100%;
	max-width: 100%;
}