/* Logo title */
a#title {
	font-size: 1em;
	margin: 0;
	text-transform: uppercase;
	width: 35%;
	height: 6em;
}

a#title p {
	margin-top: 1.5em;
}

a#title p b {
	display: block;
	font-size: 1.4em;
}

/* Navigation */
ul.nav {
	float: right;
	width: 65%;
}

ul.nav li a {
	font-size: 1.25em;
	line-height: 4.75em;
	width: 25%;
	height: 4.8em;
}

a#title:hover,
a#title.active,
ul.nav li a:hover,
ul.nav li a.active {
	background: #0d0d0d;
	border-bottom: 3px solid red;
}

a#title, ul.nav li a {
	background: #1f1f1f;
	border-bottom: 3px solid #aa0000;
	color: #fff;
	float: left;
	list-style: none;
	text-align: center;
	transition: 0.2s all ease-in;
}

/* Gallery */
div.gallery .holder {
	float: left;
	width: 33%;
}

div.gallery .holder img {
	float: left;
	width: 100%;
	max-width: 100%;
	opacity: 0.8;
}

div.gallery .holder img:hover {
	opacity: 1;
}

/* Section */
.section p {
	font-size: 1em;
}

/* Footer */
.footer {
	text-align: center;
}