@media (min-width: 1600px) {
	div.gallery .holder {
		float: left;
		width: 25%;
	}

	div.gallery .holder:last-child {
		display: none;
	}
}

@media (max-width: 1024px) {
	div.gallery .holder {
		float: left;
		width: 50%;
	}

	div.gallery .holder:last-child {
		display: none;
	}
}

@media (max-width: 800px) {
	html {
		background: scroll url("images/cla-45-amg-seats.jpg") no-repeat 0 25%;
		-webkit-background-size: 100%;
		background-size: 100%;
	}

	.left, .right, .full {
		padding: 5%;
		width: 90%;
	}

	div.gallery .holder {
		float: left;
		width: 33%;
	}

	div.gallery .holder:last-child {
		display: inline;
	}
}

@media (max-width: 640px) {
	span#title {
		width: 100%;
	}

	ul.nav {
		width: 100%;
	}
}